*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/
build/
hs_err_pid*
.idea/
*.iml
*.iws
.classpath
.project
.settings/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
package-lock.json
yarn.lock
node_modules/
bin/
out/
gen/
javadoc/
*.hprof
*.jks
*.keystore
.DS_Store
Thumbs.db

